@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format('truetype');
}

:root {
  --global-font: 'Roboto', serif;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--global-font), serif;
  font-size: 50px;
}

p {
  font-family: var(--global-font), serif;
  margin: 0;
}

label{
  font-family: var(--global-font), serif;
}

caption
{
  font-family: var(--global-font), serif;
  font-size: 1.5em;
}