.DropdownWrapper {
    display: inline-block;
    position: relative;
}

.DropdownMenu {
    font-family: var(--global-font), serif;
    Display: flex;
    flex-direction: column;
    gap: 2px;
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 10px;
    max-height: 300px;
    width: 600px;
    overflow-y: auto;
    z-index: 1000;
}

.input
{
    font-family: var(--global-font), serif;
}

.fontToWhite
{
    color: white;
}


